@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Teko:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1A1F24;
    color: #DED8BF;
}

h2 {
    font-family: 'Teko', sans-serif;
    font-size: 3.5em;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
}

#mainheader {
    height: 920px;
}

/* Titulo */
.logo {
    padding: 10px;
    text-align: left;
    font-family: 'Teko', sans-serif;
    font-size: 3em;
    margin-left: 3em;
}

/* Nav bar */
#navbar {
    background-image: url(/fondos/maderas\ 1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
}

#navbar div {
    background-color: rgba(22, 25, 30, 0.6);
    width: 100%;
    height: 100px;
    align-content: center;
    justify-content: center;
    padding-top: 55px;
}

.enlaces {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4px;
}

.enlaces>li {
    list-style-type: none;
    background-color: #f3f3f3;
    padding: 5px 5%;
    margin: center;
    border-radius: 0.5em;
    height: 2em;
}

li>a {
    text-decoration: none;
    font-size: x-large;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.enlaces>li:hover {
    background-color: #DED8BF;
}

/* logo principal */
.isologo {
    text-align: center;
}

.isologo img {
    width: 50%;
    margin: 0px auto;
}



/* sobre nosotros*/
#about {
    height: auto;
    margin: 10px;
    text-align: center;
}

#about p {
    font-size: 2em;
    padding: 30px;
}

/* trabajos*/
#products {
    /*height: 920px;*/
    margin: 10px;
}

.contenedor_imagen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image {
    height: 400px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s;
    border-radius: 10px;
    border: solid 2px #DED8BF;

}

.product1 {
    background-image: url(/Trabajos/1.jpg);
}

.product2 {
    background-image: url(/Trabajos/2.jpg);
}

.product3 {
    background-image: url(/Trabajos/3.png);
}

.product4 {
    background-image: url(/Trabajos/4.jpg);
}

.image:hover {
    transform: scale(1.2);
}

/* servicios*/

.services {
    padding: 0px;
    text-align: auto;
    height: 920px;
    margin: 10px;
}

/* materiales */


.container_woods {
    height: auto;
    width: 100%;
    /*background-image: url(/fondos/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;*/
    align-items: center;
}

.container_woods div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.container_woods img {
    border-radius: 50%;
}

.container_woods div {
    text-align: center;
}

.container_woods div p {
    font-size: 3em;
    font-family: 'Teko', sans-serif;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.centrado {
    position: absolute;
    margin-top: 80px;
    font-size: 2.5em;
    color: #16191E;
    font-family: 'Teko', sans-serif;
}

/* footer */
#mainfooter {
    display: block;
    text-align: center;
}

/* contacto */

#contact {
    background-image: url(/fondos/maderas\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

#prueba {
    display: flex;
    /*flex-direction: wrap;*/
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#contact>h2 {
    width: 100%;
    text-align: center;
    margin: 0px;

}


form {
    /*width: 30%;*/
    padding: 1em;
    border: 2px solid #B87333;
    border-radius: 1em;
}


label {
    display: inline-block;
    width: 60px;
    text-align: left;
    cursor: pointer;
}

.formulario__input-error {
    display: none;
    margin-bottom: 0;
}

.formulario__input-error-active {
    display: block;
}

.validacion__estado-validar {
    opacity: 0;
}

input,
textarea {
    font: 1em sans-serif;
    width: 350px;
    box-sizing: border-box;
    border: 1px solid #999 transparent;
    height: 27px;
    line-height: 27px;
    transition: 0.5s ease all;
}

input:focus,
textarea:focus {
    border: 3px solid rgb(190, 108, 0);
    outline: none;
}

textarea {
    vertical-align: top;
    height: 7em;
}

.formulario_checkbox {
    width: auto;
    cursor: pointer;
    margin-right: 10px;
}

#formulario_checkbox {
    width: auto;
}

.boton {

    background-color: #f3f3f3;
    color: black;
    border-radius: 5px;
    border: solid 1px black;
    width: 45%;
    cursor: pointer;
    transition: 0.1s ease all;
}

.boton:hover {
    background-color: #DED8BF;
}

.formulario__mensaje {
    height: 27px;
    line-height: 27px;
    display: none;
    color: red;
    text-align: center;
}

.formulario__mensaje-active {
    display: block;
}

.formulario__mensaje-exito {
    color: green;
    text-align: center;
    display: none;
}

.formulario__mensaje-exito-active {
    display: block;
}

.form_group-correcto .validacion__estado-validar {
    color: #1ed12d;
    opacity: 1;
}

.form_group-incorrecto label {
    color: #bb2929;
    opacity: 1;
}

.form_group-incorrecto .validacion__estado-validar {
    color: #bb2929;
    opacity: 1;
}

.form_group-incorrecto input {
    border: 3px solid #bb2929;
}


/*footer*/

#mainfooter {
    height: 50px;
    padding: 10px;
}

@media screen and (max-width:800px) {
    form {
        display: flex;
        flex-direction: column;
    }

    .boton {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

}