html {
    scroll-behavior: smooth;
}

body {
    background-color: #1A1F24;
    color: #DED8BF;
}

h2 {
    margin-left: 30px;
}

* {
    margin: 0px;
    padding: 0px;
}

/* Titulo */
.logo {
    padding: 1em;
    text-align: center;
}

/* Nav bar */
#navbar div {
    background-color: #16191E;
    width: 100%;
    height: 100px;
    align-content: center;
    justify-content: center;
}

.enlaces {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.enlaces>li {
    list-style-type: none;
    background-color: #f3f3f3;
    padding: 5px 5%;
    margin: 1%;
    border-radius: 5px;
    border: solid 1px black;
}

li>a {
    color: black;
    text-decoration: none;
}

.enlaces>li:hover {
    background-color: #DED8BF;
}

/* logo principal */
#isologo img {
    width: 25%;
    margin: auto;
    display: block;
}

/* sobre nosotros*/
#about {
    margin: 30px;
    text-align: center;
    height: 100px;
}

/* productos*/
#products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 100px;
}

/* servicios*/


/* materiales */
.container_woods {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.container_woods img {
    border-radius: 50%;
}

/* footer */
#mainfooter {
    display: block;
    text-align: center;
}

/* contacto */

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 2px solid #B87333;;
    border-radius: 1em;
}

label {
    display: inline-block;
    width: 60px;
    text-align: left;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

textarea {
    vertical-align: top;
    height: 5em;
}